@font-face {
	font-family: 'Ironsides';
	src: url('assets/SFIronsidesBold.ttf');
}

body {
	font: 1.2em 'Source Sans Pro', sans-serif;
	background-color: papayawhip;
}

hr {
	color: #808080;
}

img {
	display: block;
	margin: 0 auto;
	margin-bottom: 30px;
	max-width: 90vw;
}

h1 {
	text-align: center;
	font: 5em 'Ironsides', sans-serif;
	margin: 0;
}

h2 {
	text-align: center;
	font-size: 1.4em;
	margin: 0;
}

h3 {
	font-family: 'Source Sans Pro Black';
	font-size: 1.3em;
}

p {
	margin-top: 0;
}

#title {
	margin-bottom: 30px;
}

#content {
	width: 50%;
	margin: 0 auto;
}

.idol {
	display: block;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: -10px;
	cursor: pointer;
}

audio {
	display: none;
}

iframe {
	background-color: papayawhip;
}

#funFacts {
	width: 60%;
	margin: 0 auto;
}

summary {
	display: block;
	cursor: pointer;
}

summary::-webkit-details-marker {
  display: none
}

summary h3 {
	margin: 0;
	text-align: center;
	text-transform: uppercase;
}

summary h3:after {
	content: " ▼";
}

details[open] summary h3:after {
    content: " ▲";
}

#signature {
	text-align: center;
	font-weight: bold;
}

#method {
	width: 60%;
	margin: 0 auto;
	color: #808080;
}

#method h2 {
	text-align: center;
	margin-bottom: 1em;
}

@media screen and (max-width: 640px) {
	#content {
		width: 100%;
	}

	#funFacts {
		width: 100%;
	}

	#method {
		width: 100%;
	}
}
